* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loader {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
  align-items: center;
  justify-content: center;
}
.loader__text {
  text-align: center;
  flex: 1 auto;
  width: auto;
  font-size: 18px;
  color:pink;
}
.container {
  width: 100%;
  background: #f2f2f2;
}
.boxoffice {
  padding: 20px;
}
.boxoffice__title { 
  margin-bottom: 20px;
}
.movieLists {
  box-sizing: border-box;
  overflow: hidden;
}
